/interface ethernet
set [ find default-name=ether1 ] comment=SW-CORE
set [ find default-name=ether2 ] comment=GERENCIA
/interface vlan
add interface=ether1 name=v-1.10 vlan-id=10
add interface=ether1 name=v-1.20 vlan-id=20
add interface=ether1 name=v-1.30 vlan-id=30
/interface wireless security-profiles
set [ find default=yes ] supplicant-identity=MikroTik
/ip address
add address=192.168.200.20/24 interface=ether2 network=192.168.200.0
add address=172.16.1.1/30 interface=v-1.10 network=172.16.1.0
add address=172.16.1.5/30 interface=v-1.20 network=172.16.1.4
add address=172.16.10.1/30 interface=v-1.30 network=172.16.10.0
/ip dhcp-client
add disabled=no interface=ether1
add interface=ether2
/ip firewall filter
add action=accept chain=forward
add action=accept chain=input src-address=189.89.66.2
add action=accept chain=input src-address=187.19.242.148
add action=drop chain=input
/ip route
add distance=1 gateway=192.168.200.1
