/interface bridge
add name=LAN-PPPOE1 protocol-mode=none
add name=P2P-PPPOE1-BORDA protocol-mode=none
add name=P2P-PPPOE2-BORDA protocol-mode=none
/interface ethernet
set [ find default-name=ether1 ] comment=BORDA
set [ find default-name=ether2 ] comment="WAN PPPOE - 1"
set [ find default-name=ether3 ] comment="WAN PPPOE - 2"
set [ find default-name=ether4 ] comment=SERVIDOR
set [ find default-name=ether5 ] comment="SWITCH ACESSO - 1"
set [ find default-name=ether6 ] comment="SWITCH ACESSO - 2"
set [ find default-name=ether7 ] comment=GERENCIA
set [ find default-name=ether8 ] comment="LAN PPPOE - 1"
/interface vlan
add interface=ether1 name=v-1.10 vlan-id=10
add interface=ether2 name=v-2.10 vlan-id=10
add interface=ether5 name=v-5.100 vlan-id=100
/interface wireless security-profiles
set [ find default=yes ] supplicant-identity=MikroTik
/interface bridge port
add bridge=P2P-PPPOE1-BORDA interface=v-1.10
add bridge=P2P-PPPOE1-BORDA interface=v-2.10
add bridge=LAN-PPPOE1 interface=ether8
add bridge=LAN-PPPOE1 interface=v-5.100
/ip address
add address=192.168.200.15/24 interface=ether7 network=192.168.200.0
/ip dhcp-client
add disabled=no interface=ether1
/ip firewall filter
add action=accept chain=forward
add action=accept chain=input src-address=189.89.66.2
add action=accept chain=input disabled=yes protocol=icmp
add action=drop chain=input
/ip route
add distance=1 dst-address=189.89.66.2/32 gateway=192.168.200.1
/system identity
set name=SWITCH-CORE
