/interface bridge
add name=br-loopback0 protocol-mode=none
/interface ethernet
set [ find default-name=ether1 ] comment=SW-CORE
set [ find default-name=ether2 ] comment=GERENCIA
/interface vlan
add interface=ether1 name=v-1.10 vlan-id=10
add interface=ether1 name=v-1.20 vlan-id=20
add interface=ether1 name=v-1.30 vlan-id=30
/interface wireless security-profiles
set [ find default=yes ] supplicant-identity=MikroTik
/routing ospf instance
set [ find default=yes ] distribute-default=always-as-type-1 redistribute-connected=as-type-1 redistribute-static=as-type-1 router-id=10.255.255.1
/snmp community
set [ find default=yes ] disabled=yes
add addresses=::/0 name=toolbox
/ip address
add address=192.168.200.20/24 interface=ether2 network=192.168.200.0
add address=172.16.1.1/30 interface=v-1.10 network=172.16.1.0
add address=172.16.1.5/30 interface=v-1.20 network=172.16.1.4
add address=172.16.10.1/24 interface=v-1.30 network=172.16.10.0
add address=10.255.255.1 interface=br-loopback0 network=10.255.255.1
/ip dhcp-client
add disabled=no interface=ether1
add interface=ether2
/ip firewall filter
add action=accept chain=forward
add action=accept chain=input src-address=189.89.66.2
add action=accept chain=input src-address=172.16.10.2
add action=accept chain=input src-address=170.80.156.130
add action=accept chain=input src-address=187.19.242.148
add action=accept chain=input src-address=177.89.179.78
add action=accept chain=input src-address=177.52.37.146
add action=accept chain=input src-address=172.16.1.0/30
add action=accept chain=input src-address=172.16.1.4/30
add action=accept chain=input in-interface=v-1.10 src-address=10.100.100.0/24
add action=accept chain=input in-interface=v-1.20 src-address=10.200.200.0/24
add action=accept chain=input protocol=icmp
add action=accept chain=input src-address=178.128.6.101
add action=drop chain=input
/ip firewall nat
add action=masquerade chain=srcnat out-interface=ether2 src-address=10.100.100.0/24
add action=masquerade chain=srcnat out-interface=ether2 src-address=172.16.10.0/24
add action=dst-nat chain=dstnat comment=ZABBIX-SSH dst-address=192.168.200.20 dst-port=8822 protocol=tcp to-addresses=172.16.10.2 to-ports=22
add action=dst-nat chain=dstnat comment=ZABBIX dst-address=192.168.200.20 dst-port=8890 protocol=tcp to-addresses=172.16.10.2 to-ports=80
add action=dst-nat chain=dstnat comment=PPPOE2 disabled=yes dst-address=192.168.200.20 dst-port=8897 protocol=tcp to-addresses=172.16.1.6 to-ports=8291
add action=dst-nat chain=dstnat comment=MYSQL-SSH dst-address=192.168.200.20 dst-port=8823 protocol=tcp to-addresses=172.16.10.10 to-ports=22
/ip route
add distance=1 gateway=192.168.200.1
/ppp aaa
set interim-update=5m use-radius=yes
/radius incoming
set accept=yes
/routing ospf interface
add disabled=yes priority=5
/routing ospf network
add area=backbone network=172.16.1.0/30
add area=backbone network=10.255.255.1/32
add area=backbone network=172.16.1.4/30
/snmp
set enabled=yes trap-community=toolbox trap-version=2
/system clock
set time-zone-name=America/Recife
/system identity
set name=BORDA
/system logging
set 0 topics=info,!account
/system ntp client
set enabled=yes primary-ntp=200.160.0.8
/system scheduler
add disabled=yes interval=4h name=sgp-aviso on-event=sgp-aviso policy=ftp,reboot,read,write,policy,test,password,sniff,sensitive start-date=dec/27/2023 start-time=01:00:00
add interval=6h name=sgp_login_local on-event=sgp_login_local policy=ftp,reboot,read,write,policy,test,password,sniff,sensitive,romon start-date=dec/27/2023 start-time=12:00:00
add interval=1d name=backup_ftp on-event=backup_ftp policy=ftp,reboot,read,write,policy,test,password,sniff,sensitive start-date=dec/17/2023 start-time=03:00:00
/system script
add dont-require-permissions=yes name=backup_ftp owner=pnet policy=ftp,reboot,read,write,policy,test,password,sniff,sensitive,romon source=":log warning \"***************************************\"\r\
    \n# Conex\E3o FTP\r\
    \n:global host 172.16.10.2\r\
    \n:global usuario toolbox\r\
    \n:global senha toolbox\r\
    \n:global diretorio /home/toolbox/backups\r\
    \n# Pega o nome do Router\r\
    \n:global identifica [/system identity get name ];\r\
    \n# Gera data no formato AAAA-MM-DD\r\
    \n:global data [/system clock get date]\r\
    \n:global meses (\"jan\",\"feb\",\"mar\",\"apr\",\"may\",\"jun\",\"jul\",\"aug\",\"sep\",\"oct\",\"nov\",\"dec\");\r\
    \n:global ano ([:pick \$data 7 11])\r\
    \n:global mestxt ([:pick \$data 0 3])\r\
    \n:global mm ([ :find \$meses \$mestxt -1 ] + 1);\r\
    \n:if (\$mm < 10) do={ :set mm (\"0\" . \$mm); }\r\
    \n:global mes ([:pick \$ds 7 11] . \$mm . [:pick \$ds 4 6])\r\
    \n:global dia ([:pick \$data 4 6])\r\
    \n:log info \"Gerando backup: \$ano-\$mes-\$dia.\$identifica.backup\";\r\
    \n/system backup save name=\"\$ano-\$mes-\$dia.\$identifica\";\r\
    \n:log info \"Gerando export: \$ano-\$mes-\$dia.\$identifica.rsc\";\r\
    \n/export file=\"\$ano-\$mes-\$dia.\$identifica\"\r\
    \n:log info \"Processando...\";\r\
    \n:delay 5s\r\
    \n:log info \"Conectando FTP Server...\";\r\
    \n:log info \"Enviando Backup [\$ano-\$mes-\$dia.\$identifica.backup] ...\";\r\
    \n/tool fetch address=\$host src-path=\"\$ano-\$mes-\$dia.\$identifica.backup\" user=\"\$usuario\" password=\"\$senha\" port=21 upload=yes mode=ftp dst-path=\"\$diretorio/\$ano-\$mes-\$dia.\$identifica.backup\"\r\
    \n:log info \"Enviando Export [\$ano-\$mes-\$dia.\$identifica.rsc] ...\";\r\
    \n/tool fetch address=\$host src-path=\"\$ano-\$mes-\$dia.\$identifica.rsc\" user=\"\$usuario\" password=\"\$senha\" port=21 upload=yes mode=ftp dst-path=\"\$diretorio/\$ano-\$mes-\$dia.\$identifica.rsc\"\r\
    \n:delay 1\r\
    \n:log info \"Backup enviado com sucesso...\";\r\
    \n:log info \"Removendo arquivos...\";\r\
    \n /file remove \"\$ano-\$mes-\$dia.\$identifica.backup\"\r\
    \n /file remove \"\$ano-\$mes-\$dia.\$identifica.rsc\"\r\
    \n:log info \"Rotina de backup finalizada...\";\r\
    \n:log warning \"***************************************\";"
/tool netwatch
add comment="ATIVAR O SECRETS CASO O RADIUS PARE" disabled=yes down-script="/ppp secret ; :foreach i in [ find comment~\"SGP:\" ] do={ enable \$i }; /ppp active; :foreach p in [find \\ radius=no comment~\"SGP:\"] do={ remove \$p; :delay 1};" host=\
    172.16.116.1 interval=3m timeout=10s up-script="/ppp secret ; :foreach i in [ find comment~\"SGP:\" ] do={ disable \$i }; /ppp active; :foreach p in [find \\ radius=no comment~\"SGP:\"] do={ remove \$p; :delay 1};"
/user aaa
set use-radius=yes
