/interface bridge
add name=PPPOE-1 protocol-mode=none
/interface ethernet
set [ find default-name=ether1 ] comment=SWITCH-CORE
set [ find default-name=ether2 ] comment="CLIENTE 1 "
set [ find default-name=ether3 ] comment="CLIENTE 2"
set [ find default-name=ether4 ] comment="CLIENTE 3"
set [ find default-name=ether5 ] comment=GERENCIA
/interface vlan
add interface=ether1 name=v-1.100 vlan-id=100
/interface wireless security-profiles
set [ find default=yes ] supplicant-identity=MikroTik
/interface bridge port
add bridge=PPPOE-1 interface=v-1.100
add bridge=PPPOE-1 interface=ether2
add bridge=PPPOE-1 interface=ether3
add bridge=PPPOE-1 interface=ether4
/ip address
add address=192.168.200.16/24 interface=ether5 network=192.168.200.0
/ip dhcp-client
add disabled=no interface=ether1
/ip firewall filter
add action=accept chain=forward
add action=accept chain=input src-address=189.89.66.2
add action=accept chain=input protocol=icmp
add action=drop chain=input
/ip route
add distance=1 dst-address=189.89.66.2/32 gateway=192.168.200.1
/system identity
set name="SWITCH ACESSO1"
